<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="home.henry.mathandroid">

    <application
        android:allowBackup="true"
        android:icon="@drawable/math_fun_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/math_fun_icon"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GamePanelActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".ReportPanelActivity" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" />
        <activity android:name=".GroupedBarChartActivity"></activity>
    </application>

</manifest>